i{
    font-size: 16px;
    cursor: pointer;
    color: #0099ff;
    padding-right: 10px;
    margin-left: 5px;
}

.bold{
    font-weight: bold;
}

.close{
    outline: none;
}

.user-name{
    color: #5b5bff;
}