<div class="row justify-content-center align-items-cente">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Document</th>
          <th scope="col">Description</th>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <ngb-highlight [result]="user.name"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.last_name"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.email"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.phone | mask: '(00) 00000-0000'"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.document | mask: '000.000.000-00'"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.description"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="user.created_at | date: 'dd/MM/yyyy'"></ngb-highlight>
          </td>
          <td>
            <i class="fa fa-times" (click)="openDeleteModal(deleteModal, user)"></i>
            <i class="fa fa-edit" (click)="openEditModal(editModal, user)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Delete modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Customer deletion</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="bold">Are you sure you want to delete <span class="user-name">"{{user.name}}"</span> ?</p>
    <p>All information associated to this user profile will be permanently deleted. This operation can not be undone.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-md" (click)="deleteCustomer()">CONFIRM</button>
    <button type="button" class="btn btn-secondary btn-md" (click)="modal.close('Close click')">CANCEL</button>
  </div>
</ng-template>

<!-- Edit modal -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.name" name="user.name">
        </div>
      </div>

      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.last_name" name="user.last_name">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.email" name="user.email">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.phone" name="user.phone" [clearIfNotMatch]="true" mask="(00) 00000-0000">
        </div>
      </div>

      <div class="form-group row">
        <label for="document" class="col-sm-2 col-form-label">Document</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.document" name="user.document" [clearIfNotMatch]="true"  mask="000.000.000-00">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="user.description" name="user.description">
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-md" (click)="updateCustomer(user)">CONFIRM</button>
    <button type="button" class="btn btn-secondary btn-md" (click)="modal.close('Close click')">CANCEL</button>
  </div>

</ng-template>