<div class="row center-xs">

  <div class="col-xs-12 col-md-6 col-lg-6">

    <div class="row center-xs login-box">

      <div class="col-xs-6" (click)="goToLoginPage()">
        <p> <i class="fa fa-arrow-up" [ngClass]="showLoginForm ? 'active-form' : ''"></i></p>
      </div>

      <div class="col-xs-6"  (click)="goToCreatePage()">
        <p> <i class="fa fa-user-plus" [ngClass]="showCreateForm ? 'active-form' : ''"></i></p>
      </div>

      <app-login *ngIf="showLoginForm"></app-login>
      <app-create *ngIf="showCreateForm"></app-create>
    </div>

  </div>
</div>