<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-section">

    <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-12">
            <input type="text" pattern="^\S+@\S+$" class="form-control" id="email" placeholder="example@email.com"
                formControlName="email" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-12">
            <input type="password" class="form-control" id="description" placeholder="Password"
                formControlName="password" required>
        </div>
    </div>

    <div class="row center-xs remember-password">
        <div class="col-xs-6">
            Remember me
        </div>
        <div class="col-xs-6">
            Forgot password?
        </div>

    </div>

    <div class="row center-xs social-medias">
        <div class="col-xs-4">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
    </div>

    <i class="fa fa-arrow-circle-right fa-4x login-btn" aria-hidden="true" (click)="login()"></i>

</form>